.container {
  display: grid;
  border: 2px solid black;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}

.box {
  background: teal;
  color: white;
  padding: 20px;
  text-align: center;
}

.box:nth-child(1) {
  grid-column: span 3;
  background: orange;
}

.box:nth-child(2) {
  grid-row: span 2;
  background: crimson;
}
