.container { 
    display: grid;
    border: 2px solid black;
    gap: 10px;
    grid-template-areas: "header header" "sidebar sidebar" "content content" "footer footer";
    grid-template-columns: 1fr 2fr;
}   

.header { grid-area: header; background: red;}
.sidebar { grid-area: sidebar; background: blue;}
.content { grid-area: content; background: pink;}
.footer { grid-area: footer; background: purple;}